body
{
	background: lightblue;
}

	.login_div1 , .login_div2
	{
		background: rgb(8, 175, 247);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(201, 5, 236);
border-radius: 10px;
border-top: 10px solid #f011a2;
padding: 10px;
float: none;
text-align: left;
}
